body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
p {
}

table th, td{
        border: 1px solid black;
        border-collapse: collapse;
        padding: 15px;
        text-align: left;
        border-spacing: 5px;
}

table#t01{
    width: 100%;
    background-color: lightgray;
}

table tr:nth-child(even){
    background-color: #eee;
}

table tr:nth-child(odd){
    background-color: #fff;
}

table#t01 th{
    color: white;
    background-color: black;
}